@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --color-gradient-1:#082F9F;
    --color-gradient-2:#B693EA;
    --font: 'Poppins', sans-serif;
    --active-sidebar-item:#0066FE;
    --sidebard-item:#1c1d21;
    --background-dashboard:#f8f8f8;
    --background-card:hsl(228, 28%, 20%);
    --text-card:#515066;
    --text-card-2:#6E789A;
    --text-heading-card:#27266E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* dashboard css */

.dashboard{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: var(--font);
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--background-dashboard);
}


/* sidebar css */

.sidebar__dashboard{
    position: relative;
    width: 200px;
    padding: 1em 0;
    box-shadow: 22px 0px 9px rgba(20, 31, 31, 0.01), 12px 0px 7px rgba(20, 31, 31, 0.1), 5px 0px 5px rgba(20, 31, 31, 0.3), 1px 0px 3px rgba(20, 31, 31, 0.2), 0px 0px 0px rgba(20, 31, 31, 0.2);
    height: 100%;
    background: var(--sidebard-item);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}


.container__sidebar_item{
    position: relative;
    width: 100%;
    padding: 0.5em ;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
 }


.side_item{
    text-transform: capitalize;
    border-radius: 0.5em;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}
.side_item:hover{
    background-color: var(--active-sidebar-item);
    color: #fff;
}
.side_item_active{
    background: var(--active-sidebar-item);
}


/* -------------------- */


/* content dashboard css */

.container__dashboard{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding:2em  ;
    flex: 1;
}

.content__dashboard{
    position: relative;
    width: 100%;
}

.card_dashboard{
    position: relative;
    max-width: 450px;
    padding: 1.5em 1.8em;
    border-radius: 1em;
    background: var(--background-card);
}

.card_dashboard .card_header{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    gap: 1.5em;
}

.card_header .card_img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 0 0 2px var(--text-card);
    object-position: center;
}
.card_header .profile_desc{
    position: relative;
    width: 100%;
    flex:1;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0.5em 0;
    
}

.profile_desc .username{
    font-size: 1.2em;
    color: #fff;
}
.profile_desc .position{
    font-size: 0.8em;
    display: block;
    text-transform: capitalize;
    color: var(--text-card-2);
}
.card_dashboard .card_body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 2em;
    padding-top: 1em;
    height: 100%;
    border-top: 0.2px solid var(--text-card);
}

.card_body .item__card_body{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-card-2);
    font-size: 0.9em;

}

.item__card_body .title_item{
    font-weight: 600;
}
.item__card_body .title_value{
    font-weight: 500;
}

/* -------------------- */


/* ---------------- */