@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --color-gradient-1:#082F9F;
    --color-gradient-2:#B693EA;
    --font: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding:0;
}

main.login__page,main.register__page{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    padding:2em 1em;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(-120deg,var(--color-gradient-1),var(--color-gradient-2));
}

/* login content */
 .card__form{
    position: relative;
    max-width: 400px;
    padding: 1em 1.4em;
    background: white;
    border-radius: 1em;
}

.card__form .title{
    font-size: 1.5em;
}

.card__form .input__group{
    position: relative;
    width: 100%; 
    margin-top: 1.5em;
}

.label__form{
    position: absolute;
    left: 0.5em;
    top: -8px;
    background: white;
    padding: 0.1em 0.8em;
     border-radius: 5px;
    z-index: 3;
    font-size: 0.7em;
}

.input__form{
    position: relative;
    width: 100%;
    caret-color: var(--color-gradient-1);
    outline: none;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
    padding: 0.9em 0.8em ;
    transition: 0.2s;
}

.input__login:focus{
    border: 1px solid var(--color-gradient-1);
}

.btn_form{
    position: relative;
    width: 100%;
    padding: 0.4em 0.2em;
    color: #fff;
    background: var(--color-gradient-2);
}
.linkto{
    font-size: 0.7em;
    display: block;
}


/* media max height 380px */
@media screen and (max-height:380px) {
    main.login__page{
    height: auto;
}
}